.background {
  max-width: 100vw;
  max-height: 100vh;
  position: sticky;
  display: flex;
  overflow: hidden;
  transition: transform 0.5s ease-in;
}
.background > a {
  height: 100vh;
  width: 50vw;
  cursor: pointer;
  text-align: center;
  transition: transform 0.5s ease-out;
}
.background-out > a:not(.city-parent) {
  transform: translateX(100vw);
}
.background-out > .city-parent {
  transform: translateX(-100vw);
}
.background a:hover h1 {
  visibility: visible;
}
.background h1 {
  position: relative;
  visibility: hidden;
  top: 40%;
  font-weight: 900;
  font-size: 4rem;
  display: inline-block;
  z-index: 10;
}
.background h1::before {
  content: "";
  opacity: 0.6;
  position: absolute;
  width: 110%;
  height: 100%;
  left: -5%;
  border-radius: 4px;
  background-color: var(--darkness);
  transform: scaleY(0.1);
  transform-origin: top center;
  transition: transform 0.5s ease-in-out;
  z-index: -10;
}
.background > a:hover h1::before {
  transform-origin: bottom center;
  transform: scale(1);
}
.background > .city-parent::after {
  transform: scaleX(-1);
}
.background > a::after {
  box-shadow: inset -30vw 0vh 13vw 0vw rgb(0 0 0 / 70%);
  content: "";
  display: block;
  height: 100vh;
  width: 60vw;
  position: absolute;
  top: 0;
  transition: box-shadow 0.5s ease-in-out;
  mask-image: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}
.background > a:hover img {
  transform: scale(1.1);
}
.background > a:hover:after {
  box-shadow: none;
}
.background img {
  transition: transform ease 0.5s;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  object-fit: cover;
  width: 60vw;
  height: 100vh;
  position: absolute;
}
.back-city {
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  object-position: 100% 0;
  left: 0;
}
.back-travelers {
  mask-image: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  top: 0;
  object-position: 90% 0;
  right: 0;
}

@media only screen and (max-width: 800px) {
  .background {
    flex-direction: column-reverse;
  }
  .background > a {
    height: 50vh;
    width: 100vw;
  }
  .background img {
    height: 60vh;
    width: 100vw;
  }
  .back-city {
    bottom: 0;
    mask-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .back-travelers {
    mask-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    object-position: 90% 0%;
  }
  .background > a::after {
    width: 100vw;
    height: 60vh;
    box-shadow: inset 0vw 20vh 9vh 2vh rgb(0 0 0 / 70%);
    mask-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .background > a.city-parent::after {
    transform: scaleY(-1);
    top: auto;
    bottom: 0;
  }
  .background-out > a.city-parent {
    transform: translateY(160vh);
  }
  .background-out > a:not(.city-parent) {
    transform: translateY(-60vh);
  }
}
