[Unit]
Description=Tourist app service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/app
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target