<nav [class]="{ 'nav-open': navState }">
  <app-open-toggle-btn [onclick]="toggle" initialState="on"></app-open-toggle-btn>
  <a href="/">
    <h1>technical test</h1>
  </a>
  <menu>
    <a
      routerLink="/tourist"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{
        paths: 'exact',
        matrixParams: 'ignored',
        fragment: 'ignored',
        queryParams: 'ignored'
      }"
    >
      <fa-icon [icon]="userIcon" class="icon"></fa-icon>
      <h2>Tourists</h2>
    </a>
    <a
      routerLink="/city"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{
        paths: 'exact',
        matrixParams: 'ignored',
        fragment: 'ignored',
        queryParams: 'ignored'
      }"
    >
      <fa-icon [icon]="cityIcon" class="icon"></fa-icon>
      <h2>Cities</h2>
    </a>

    <button class="session-link" *ngIf="authState !== false;else logginLink" (click)="logOut()">
      <fa-icon [icon]="logged" class="icon session-icon"></fa-icon>
    </button>
    <ng-template #logginLink >

      <a routerLink="/session" class="session-link">
        <fa-icon [icon]="unLogged" class="icon session-icon"></fa-icon>
      </a>
    </ng-template>
  </menu>
</nav>
