div {
  height: 100%;
  overflow: auto;
}

div::-webkit-scrollbar {
  width: 10px;
}
div::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 5px;
}
div::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue);
}

table {
  width: 100%;
  border-radius: 5px;
  border: solid 2px var(--black);
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  background-color: var(--white);
  border-bottom: solid 1px var(--black);
}

:host/deep/ tr > * {
  text-align: center;
  padding: 0.2rem;
  color: var(--black);
}

th {
  font-weight: 700;
}

.clikcable {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  table {
    border: none;
  }
  table thead {
    display: none;
  }
  tr {
    border: 1px solid var(--black);
    margin-bottom: 5px;
    display: block;
    border-radius: 5px;
  }
  :host/deep/ tr > td {
    display: block;
    text-align: right;
  }
  :host/deep/ tr > td:nth-child(even) {
    background-color: var(--gray);
  }
  :host/deep/ tr > td::before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
  }
}